<!-- Wrapper -->
<div class="flexflex-auto w-full p-0 sm:p-12 md:px-30 md:py-10 h-screen overflow-hidden relative">

    <!-- Background -->
    <!-- <div class="w-full h-full fixed inset-0 z-0">
        <video class="object-cover" width="100%" height="100%" autoplay loop muted>
            <source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
    </div> -->

    <!-- Layout -->
    <div class="flex flex-row w-full bg-gradient-to-b from-stone-700 to-gray-600 bg-opacity-75 backdrop-blur-lg sm:rounded-2xl overflow-hidden h-full p-6">
        <div class="w-full md:w-2/5 flex flex-col justify-center items-center overflow-auto md:pr-6">
            <!-- Logo -->
            <div class="w-full flex justify-center items-center">
                <img class="w-36" src="assets/images/logo/hello-logo.png">
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 w-full"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
            <!-- Sign in form -->
            <form
                class="mt-8 w-full"
                [formGroup]="signInForm"
                #signInNgForm="ngForm">

                <!-- Email field -->
                <div class="flex flex-col w-full mb-4">
                    <mat-label class="text-primary mb-1">Username</mat-label>

                    <div class="flex flex-row w-full relative">
                        <label class="absolute top-4 bottom-4 left-5" for="username">
                            <mat-icon
                                class="icon-size-5 text-gray-100"
                                [svgIcon]="'heroicons_outline:user'"></mat-icon>
                        </label>
                        <input 
                            id="email"
                            class="border w-full p-3.5 rounded-md bg-slate-600 pl-16 text-gray-100"
                            matInput
                            [formControlName]="'email'"
                            placeholder="Username" 
                            required>
    
                    </div>
                    <mat-error *ngIf="signInForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </div>

                <!-- Password Field -->
                <div class="flex flex-col w-full">
                    <mat-label class="text-primary mb-1">Password</mat-label>

                    <div class="flex flex-row w-full relative">
                        <label class="absolute top-4 bottom-4 left-5" for="password">
                            <mat-icon
                                class="icon-size-5 text-gray-100"
                                [svgIcon]="'heroicons_outline:lock-closed'"></mat-icon>
                        </label>
                        <input 
                            id="password" 
                            name="password" 
                            class="border w-full p-3.5 rounded-md bg-slate-600 pl-16 text-gray-100"
                            matInput
                            type="password"
                            [formControlName]="'password'"
                            #passwordField
                            placeholder="Password" 
                            required>
                        <label
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'" 
                            class="absolute top-4 bottom-4 right-5 cursor-pointer" 
                            for="password">
                            <mat-icon
                                class="icon-size-5 text-gray-100"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5 text-gray-100"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </label>
                    </div>
                    <mat-error *ngIf="signInForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large rounded-md w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled || signInForm.invalid"
                    (click)="signIn()">
                    <span class="font-semibold" *ngIf="!signInForm.disabled">
                        SIGN IN
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
        <div class="hidden md:flex w-3/5 overflow-auto rounded-tl-3xl rounded-br-3xl relative">
            <img class="object-cover" src="assets/images/splash/login2.jpeg" alt="">
            <div class="absolute inset-0 flex items-end p-6 mb-12">

                <span class="text-white text-justify">
                    <span class="leading-tight">
                        <p class="text-6xl font-bold">Welcome,</p>
                        <p class="text-6xl font-bold">to Hellosim Portal</p>
                    </span>
                    <p class="text-lg font-medium pt-4">Manage and control Hellosim app, Sign-in to Hellosim portal to administer and execute the Hellosim app.</p>
                </span>
            </div>
        </div>
    </div>

</div>